@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.menu-overrides((
    item-label-text-color: --mat-sys-on-surface,
    item-icon-color: red,
    item-hover-state-layer-color:--mat-sys-on-surface,
    container-color:--mat-sys-surface-variant
    
  ));
}