<h2 text-align="center">Material Reactive Form With Validation</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="myForm">

    <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput id="fullname" name="fullname" placeholder="Full Name" formControlName="fullname">
        <mat-error> {{fullNameErrorMessage}} </mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput id="username" formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" name="dateOfBirth" formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">           
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email">

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">

    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword">

    </mat-form-field>
    <section class="checkbox-section" [formGroup]="myForm">
        <p><mat-checkbox formControlName="acceptTerms">Accept terms and conditions?</mat-checkbox></p>        

    </section> -->

    <pre>{{myForm.value | json}}</pre>
    <p>{{myForm.valid}}</p>


    <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
    <button mat-raised-button color="primary" type="button" (click)="onReset()">Reset</button>
</form>