<app-jumbotron title="Material Reactive Form With Validation Example" description="Validation in the ts file"></app-jumbotron>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <mat-card class="profile-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput id="username" name="username" placeholder="Username" formControlName="username">
                    <mat-error> {{userNameErrorMessage}} </mat-error>
                </mat-form-field>
            </div>
        </div>

            <div class="row">
                <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" formControlName="email">
                    <mat-error> {{emailErrorMessage}} </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput id="password" formControlName="password">
                    <mat-error> {{emailErrorMessage}} </mat-error>
                </mat-form-field>
            </div>
        </div>
    <!--
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword">

    </mat-form-field>
    <section class="checkbox-section" [formGroup]="myForm">
        <p><mat-checkbox formControlName="acceptTerms">Accept terms and conditions?</mat-checkbox></p> 
    </section> -->

    <pre>{{myForm.value | json}}</pre>
    <p>{{myForm.valid}}</p>

</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
    <button mat-raised-button color="primary" type="button" (click)="onReset()">Reset</button>
</mat-card-actions>
</mat-card>
</form>