.host {
    padding: 12px;
      display: block;
  }
  .contact-form-fields {
    margin-bottom: 20px;
    display: grid;
   // grid-template-columns: 1fr 1fr;
    //grid-column-gap: 7px;
    width: 450px;
    gap: 7px;
  }
  .contact-form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }