<div class="btn-container">
    <div class="title">Promises Demo</div>
    @if (status === 'online') { 
        <div class="status online">OnLine</div>
    } 
    @if (status === 'offline' ){ 
        <div class="status offline">OffLine</div>
    }
    
    <!-- <button class="btn btn-primary" (click)="getPromise()">Get Promise</button>
    <button class="btn btn-primary" (click)="getPromiseError()">Get Promise Error</button>
    <button class="btn btn-primary" (click)="getPromiseDelay()">Get Promise Delay</button>
    <button class="btn btn-primary" (click)="getPromiseDelayError()">Get Promise Delay Error</button> -->
</div>

