@use '@angular/material' as mat;

:root {
  color-scheme: light dark;
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-primary),
  ));
}
.nav-dark-container {
  color-scheme: dark;
  //background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
  @include mat.theme((
    color: mat.$blue-palette, 
    typography: Roboto,
    density: -4
  ));
}
.nav-spacer {
    flex: 1 1 auto;
  }

  .nav-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


  // .nav-button-row {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: flex-end;
  //   align-items: center;

  // }