<div ngClass="light-theme">
    <section >
        <mat-toolbar color="primary" class="nav-bright-container">
            <div class="nav-button-row">
                <a mat-button routerLink="home">Home</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="login-form">Login Form</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="vehicle-selection">Vehicle</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="store-view">Plate Store</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="employee-view">Employee View</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="cart">My cart</a>
            </div>
            <mat-divider></mat-divider>
            <div class="nav-button-row">
                <a mat-button routerLink="checkout">Checkout</a>
            </div>
            <mat-divider></mat-divider>
            <!-- <div class="nav-button-row">
                <app-currency-switcher />
            </div> -->
            <span class="nav-spacer"></span>
            <button mat-icon-button class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="nav-icon" aria-label="nav icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    
    </section>
    </div>
